@use '../../styles/' as *;

.container {
  @include container;
  padding: $space-m 0;
}

.nav {
  @include content;
  display: flex;
  justify-content: space-between;

  .logo {
    width: grid-8pt(9); // 72px
    height: grid-8pt(9); // 72px
    padding: 0;
    color: $primary-400;
    fill: $primary-400;
  
    &:hover {
      // do something fun here
    }

    &.light {
      color: $secondary-400;
      fill: $secondary-400;
    }
  }
  

  &_links {
    display: flex;
    gap: $space-m;
    align-items: center;


    @include tablet {
      gap: $space-l;
    }

    @include desktop-s {
      gap: $space-xl;
    }
  }


  &_link {
    &.light {
      color: $text-light;
      background-image: linear-gradient(90deg, $secondary-400, $secondary-400);
      
      &.active {
        background-image: linear-gradient(90deg, $secondary-500, $secondary-500);
      }
    }
  }
}