@use 'sass:math';
@use '../../styles/' as *;

.link {
  color: $text;
  text-decoration: none;
  padding-bottom: $space-xxs;
}

.nav_link {
  color: $text;
  text-decoration: none;
  padding-bottom: $space-xxs;
}

.ext_link {
  @include text-size(m);
  @include weight(light);
  color: $text;
  text-decoration: none;
  font-size: inherit;

  .icon {
    width: map-get($text-sizes , m);
    height: map-get($text-sizes , m);
    margin-right: $space-xs;
  }

  &:hover {
    color: $text-dimmed;
  }
}