@use '../../styles/' as *;

.label {
  @include text-size(sm);
  color: $text-muted;
  padding-bottom: $space-s;
}

.featured {
  margin-bottom: $space-s;
  @include text-size(m);
  @include line(l);
  color: $text-primary;
  
  @include desktop-s {
    @include text-size(l);
  }
}

.sectionTitle {
  margin-top: $space-m;
  margin-bottom: $space-s;

  @include desktop-s {
    margin-top: $space-l;
  }
}

.subsectionTitle {
  margin-top: $space-m;
  margin-bottom: $space-s;
  
  @include desktop-s {
    margin-top: $space-l;
  }

  &:nth-of-type(1) {
    margin-top: 0;
  }
}