@use "../../styles/" as *;

.text {
  @include line(m);
  @include weight(light);
  
  @each $name in $weight-names {
    &.weight_#{$name} {
      @include weight($name);
    }
  }
}

// Create text size rules based on the map in _types.scss
@each $size in $text-size-names {
  .size_#{$size} {
    @include text-size($size);
    @include line($size);
  }
}

// Heading defaults
h1.text,
h2.text,
h3.text,
h4.text,
h5.text,
h6.text {
  font-family: $family-sans-serif;
  @include weight(semibold);
  color: inherit;
}

h1.text {
  @include text-size(xl);
  @include line(xl);
  padding: $space-s 0 $space-l;

  @include desktop-s {
    @include text-size(xxl);
    @include line(xxl);
    padding: $space-m 0 $space-xl;
  }
}

h2.text {
  @include text-size(l);
  @include line(l);
  padding: $space-xs 0 $space-m;
  
  @include desktop-s {
    @include text-size(xl);
    @include line(xl);
    padding: $space-xs 0 $space-l;
  }
}

h3.text {
  @include weight(medium);
  @include text-size(m);
  @include line(m);
  padding: $space-xs 0 $space-s;
  
  @include desktop-s {
    @include text-size(l);
    @include line(l);
    padding: $space-xs 0 $space-m;
  }

}

h4.text {
  @include weight(medium);
  @include text-size(sm);
  @include line(sm);
  padding: $space-xs 0 $space-s;

  @include desktop-s {
    @include text-size(m);
    @include line(m);
    padding: $space-xs 0 $space-m;
  }
}

h5.text,
h6.text {
  @include weight(normal);
  @include text-size(sm);
  @include line(sm);

  @include desktop-s {
    padding: $space-xs 0 $space-s;
  }
}

