// Primary
$primary-100: hsl(281, 57%, 90%);
$primary-200: hsl(281, 57%, 70%); // #c287de
$primary-300: hsl(281, 57%, 50%);
$primary-400: hsl(281, 57%, 36%); // #6e2790
$primary-500: hsl(281, 57%, 30%);
$primary-600: hsl(281, 57%, 25%);
$primary-700: hsl(281, 57%, 20%);

//  darker purple: #6e2790  hsl(281, 57%, 36%)
//  pinker purple: #862990  hsl(294, 56%, 36%)

// Secondary
$secondary-100: hsl(192, 55%, 80%);
$secondary-200: hsl(192, 55%, 70%);
$secondary-300: hsl(192, 55%, 60%);
$secondary-400: hsl(192, 55%, 50%); // #3eacc7
$secondary-500: hsl(192, 55%, 40%);
$secondary-600: hsl(192, 55%, 30%);
$secondary-700: hsl(192, 55%, 20%);

// Accents - Info
$info-300: hsl(189, 70%, 60%);
$info-400: hsl(189, 70%, 70%);
$info-500: hsl(189, 70%, 60%); // #4ccAE0

// Accents - Success
$success-300: hsl(166, 70%, 80%);
$success-400: hsl(166, 70%, 70%);
$success-500: hsl(166, 70%, 60%);

// Accents - Warning
$warning-300: hsl(45, 100%, 70%);
$warning-400: hsl(45, 100%, 60%);
$warning-500: hsl(45, 100%, 50%);

// Accents - Danger
$danger-300: hsl(344, 90%, 65%);
$danger-400: hsl(344, 90%, 55%);
$danger-500: hsl(344, 90%, 45%);

// White & Black
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

// Neutrals
$gray-100: hsl(0, 0%, 95%); // #
$gray-200: hsl(0, 0%, 85%); // #
$gray-300: hsl(0, 0%, 70%); // #
$gray-400: hsl(0, 0%, 60%); // #
$gray-500: hsl(0, 0%, 50%); // #
$gray-600: hsl(0, 0%, 35%); // #
$gray-700: hsl(0, 0%, 25%); // #
$gray-800: hsl(0, 0%, 15%); // #

// Button Utilities
$buttonBg: $gray-200;
$buttonPrimaryBg: $primary-500;
$buttonPrimaryText: $white;