@use "./color" as *;

// Font Stacks
$family-sans-serif: 'Lexend Deca', sans-serif;
$render-mode: optimizeLegibility;

// Font Weights
$weight-names: (
  'light',
  'normal',
  'medium',
  'semibold',
  'bold',
);
$weights: (
  light: 300,
  normal: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
);

// Sizes
$text-size-names: (
  'xs',
  'sm',
  'm',
  'l',
  'xl',
  'xxl'
);
$text-sizes: (
  xs: 0.75rem,
  sm: 1rem,
  m: 1.25rem,
  l: 1.5rem,
  xl: 2rem,
  xxl: 3rem,
);

// Line Heights
$line-size-names: (
  'xs',
  'sm',
  'm',
  'l',
  'xl',
  'xxl'
);
$line-sizes: (
  xs: 1,
  sm: 1.1,
  m: 1.25,
  l: 1.5,
  xl: 1.6,
  xxl: 1.7,
);

// Text Color
$text: $gray-800;
$text-dimmed: $gray-600;
$text-muted: $gray-400;
$text-light: $gray-100;
$text-primary: $primary-400;

