
// Reset Styles
@forward "_destyle";

// Utilities & Theme
@use "./index.scss" as *;

// Global Level Styles

html {
  background-color: $gray-100;
  font-size: 16px;
}

body {
  font-family: $family-sans-serif;
  @include weight(light);
  font-size: 1rem;
  color: $gray-800;
}

a {
  color: $primary-500;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: $primary-700;
  }
}
