// Normal Style
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/LexendDeca-Light.ttf');
}

@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/LexendDeca-Regular.ttf');
}

@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/LexendDeca-Medium.ttf');
}

@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/LexendDeca-SemiBold.ttf');
}

@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/LexendDeca-Bold.ttf');
}

@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/LexendDeca-Black.ttf');
}
